# App
APP_ENV=local
APP_LOG_LEVEL=debug
HTTP_PORT=8080
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s
HTTP_SHUTDOWN_TIMEOUT=15s

# Postgres
POSTGRES_DSN=postgres://app:app@localhost:5432/app?sslmode=disable
POSTGRES_MAX_CONNS=10
POSTGRES_MIN_CONNS=2

# Contract validation (jangan dinyalakan di production)
VALIDATE_SPEC=true
